.home-background {
	background-image: url('https://plus.unsplash.com/premium_photo-1661715962352-4c887b0d0e44?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-size: cover;
	background-position: center;
	position: relative;
  }
  
  .sales-section {
	background-color: #34495e;
	color: #fff;
	text-align: center;
	padding: 20px 0;
  }
  
  .sales-title {
	font-size: 2rem;
	margin: 0;
  }
  
  .home-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 80px);
	background-color: rgba(245, 245, 245, 0.5);
  }
  
  .home-content {
	text-align: center;
  }
  
  .home-title {
	font-size: 3rem;
	color: #333;
	margin-bottom: 20px;
  }
  
  .home-subtitle {
	font-size: 1.5rem;
	color: #666;
  }
  
  .home-button {
	display: inline-block;
	padding: 10px 20px;
	margin-top: 20px;
	background-color: #265d98;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .home-button:hover {
	background-color: #0056b3;
  }
  