.sidebar {
	width: 200px;
	height: 100vh;
	background-color: #34495e;
	position: fixed;
	left: 0;
	top: 0;
	transition: transform 0.3s ease;
	z-index: 100;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .sidebar.open {
	transform: translateX(0);
  }
  
  .sidebar nav {
	margin-top: 50px;
  }
  
  .sidebar ul {
	list-style-type: none;
	padding: 0;
  }
  
  .sidebar ul li {
	padding: 10px 0;
  }
  
  .sidebar ul li a {
	display: flex;
	align-items: center; /* Align items vertically */
	padding: 10px;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	transition: background-color 0.3s ease;
	text-align: center;
  }
  
  .sidebar ul li a:hover {
	background-color: #34495e;
  }
  
  .sidebar ul li a svg {
	margin-right: 10px; 
  }
  
  .content {
	margin-left: 200px;
	padding: 20px;
  }
  
  .home-container {
	padding: 20px;
  }
  
  .bottom-links {
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
	text-align: center;
  }
  
  .bottom-links a {
	display: block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	transition: background-color 0.3s ease;
  }
  
  .bottom-links a:hover {
	background-color: #34495e;
  }
  
  .sales-section {
	background-color: #34495e;
	color: #fff;
	text-align: center;
	padding: 20px 0;
  }
  
  .school-container {
	margin-top: 20px;
  }
  
  .school-container .MuiTypography-h4 {
	font-size: 1.875rem;
  }
  
  .school-container .MuiTableCell-head {
	color: #333;
  }
  
  .school-container .MuiTableCell-body {
	font-size: 0.875rem;
  }
  
  .school-container .MuiButton-root {
	background-color: #4f6882;
	color: #fff;
  }
  
  .school-container .MuiButton-root:hover {
	background-color: #4f6882;
  }
  
  .school-details-header {
	background-color: #34495e;
	color: #fff;
	text-align: center;
	padding: 20px 0;
  }
  
  .school-details-header .MuiTypography-h4 {
	font-size: 1.875rem;
  }
  
  .school-details-container {
	padding: 20px;
  }
  
  .school-details-container .MuiTypography-subtitle1 {
	margin-bottom: 10px;
  }
  
  .school-details-container .MuiTableContainer-root {
	margin-top: 20px;
  }
  
  .school-details-container .MuiTypography-h6 {
	padding: 10px;
  }
  
  .school-details-container .MuiButton-root {
	background-color: #4f6882;
	color: #fff;
  }
  
  .school-details-container .MuiButton-root:hover {
	background-color: #4f6882;
  }
  
  .school-details-sub-header {
	background-color: #4f6882;
	color: #fff;
	text-align: center;
	padding: 10px 0;
  }
  
  .sidebar-link {
	display: flex;
	align-items: center;
  }
  
  .sidebar-link svg {
	margin-right: 10px;
  }
  