/* src/App.css */
.App {
  display: flex;
}

.sidebar {
  width: 200px;
  background: #f8f9fa;
  padding: 10px;
  position: fixed;
  top: 0;
  left: -200px;
  height: 100%;
  transition: left 0.3s ease-in-out;
}

.open {
  left: 0;
}

.toggle-btn {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #333;
}

ul li a:hover {
  background: #ddd;
}

.school-list div:hover {
  background: #ddd;
}

.school-details {
  flex: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .charts {
    flex-direction: column;
    align-items: center;
  }
}

.content {
  flex: 1;
  padding: 20px;
}
